/****************************/
/********* *RESET ***********/
/****************************/

:root
{
  --color-primary: #3b3331;
  --color-secondary: #efe8cb;
  --color-tertiary: #90c1c5;
  --color-quaternary: #d2603b;
  --color-quinary: #e9b44c;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/***********************/
/********* BASE ********/
/***********************/

body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    line-height: 1.6;
    background-color: var(--color-primary);
    font-size: 62.5%;
}

h1 {
    font-size: 4rem;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1rem;
    margin-bottom: 2rem;
    color: var(--color-primary);
}

h2 {
    font-size: 1.5625rem;
    text-transform: uppercase;
    margin-bottom: 2rem;
    color: var(--color-primary);
}

.container {
    max-width: 120rem;
    margin: 6.25rem auto;
    overflow: hidden;
    padding: 0 2rem;
}

.box {
    padding: 2rem;
    background-color: var(--color-quaternary);
}

.btn {
    display: inline-block;
    font-size: 1.6rem;
    text-transform: uppercase;
    text-decoration: none;
    padding: 1rem 2rem;
    border: 1px solid var(--color-quinary);
    background-color: var(--color-primary);
    color: var(--color-secondary);
    transition: all 0.2s;
}

.btn:hover {
    background-color: var(--color-primary);
    color: var(--color-quinary);
}

.btn:active {
    transform: translateY(2px);
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

div {
    font-size: medium;
}

.marginTop80 {
    margin-top: 5rem;
}

.marginBottom80 {
    margin-bottom: 5rem;
}

/* ************************/
/* Media Queries */
@media screen and (max-width: 28.125rem) {
    h1 {
        font-size: 3rem;
        text-align: center;
    }

    .btn {
        font-size: 1.2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80%;
        margin-bottom: 1rem;
    }

    .btn:active {
        transform: translateY(0);
    }

    .flex {
        flex-direction: column;
    }

    .flex > * {
        margin-bottom: 1rem;
    }

    .flex > *:last-child {
        margin-bottom: 0;
    }

    .marginTop80 {
        margin-top: 3rem;
    }

    .marginBottom80 {
        margin-bottom: 3rem;
    }

    .box {
        padding: 1rem;
    }

    .div h2 {
        font-size: 2rem;
    }

    h2 > .div {
        font-size: 1.4rem;
        text-align: center;
    }
}

@media screen and (min-width: 28.1875rem) {
    h1 {
        font-size: 3rem;
        text-align: center;
    }

    .btn {
        font-size: 1.2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30%;
        margin-bottom: 1rem;
    }

    .flex {
        flex-direction: column;
    }


    .flex > * {
        margin-bottom: 1rem;
    }

    .flex > *:last-child {
        margin-bottom: 0;
    }

    .marginTop80 {
        margin-top: 3rem;
    }

    .marginBottom80 {
        margin-bottom: 3rem;
    }

    .box {
        padding: 1rem;
    }

    .div h2 {
        font-size: 2rem;
    }

    h2 > .div {
        font-size: 1.4rem;
        text-align: center;
    }
}

@media screen and (min-width: 56.25rem) {
    .btn {
        width: 20%;
    }

}